@model IEnumerable<Books>



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kirap Adı</th>
            <th scope="col">Yazar Adı</th>
            <th scope="col">Sayfa Sayısı</th>
            <th scope="col">Basım Yılı</th>
        </tr>
    </thead>
    <tbody>
        
    @foreach (Books books in Model)
{
        <tr>
            <th scope="row"></th>
                <td>@books.BooksName</td>
                <td>@books.author</td>
                <td>@books.NumberOfPages</td>
                <td>@books.WriteYear</td>
        </tr>
        }
        
        
    </tbody>
</table>
<button type="submit" class="btn btn-primary">Kitap Ekle</button>


